/*
https://www.fontsquirrel.com/tools/webfont-generator
*/

nav,header,footer{
display: block;
    margin: 0;
    padding:0;
}

body
{
    line-height: 1;
    margin: 0;
    background-color: black;
    
}

article p{
    font-size: 20px;
    padding: 20px;
    color: darkgrey;
}
.container {
    width: 100%;
    margin: auto;
    padding: 0;
    
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
}

.row::after{
    display: table;/*reset row*/
    clear: both;/*clear any floats on elements*/
    content: "";/*clear content*/
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

*{
    box-sizing: border-box;
    
}



/*############### NAV BAR ################*/

ul img{
    border-radius: 4px;
    width: 40px;
    margin-left: 100px;
    padding-top: 0px;
}

nav{
    width: 100%;
    margin: 0; 
}

ul.topnav{
    background-color: #222129;
    overflow: hidden;  /*no scrolling on overflow */
    margin: 0;
    padding-top: 10px;
    
}

ul.topnav li {
    margin:0;
    padding: 5px;
    list-style: none;
    float:left;
    font-family: rattem_hullaxregular;   
}

ul.topnav li.topnav-right{
    float: right;
    margin-right: 20px
}
ul.topnav li.dropdownIcon{
    float: right;
    display: none;
    top: 0;
    right: 0;
}

ul.topnav li a,i {
    text-decoration: none;
    color: darkgrey;
    
    
    text-transform: uppercase;
   
}
ul.topnav li a:hover, i:hover {
    color:#a3935d;
}

#search{
   margin-right: 100px;
}

@keyframes yourAnimation{
    0%{
        transform: rotate(0) translateY(-750%);
        opacity: 1;
        }
    49%{
        transform: rotate(0) translateY(-675%);
        opacity: 0.7;
        }
    100%{
        transform: rotate(0) translateY(-600%);
        opacity: 0;
        }
}

/*#############     3 Columns ############*/
div.col-4 p:hover{
    color:#a3935d;
    
}

div.col-4 {
    list-style: none;
    text-align: center;
}

div.col-4 a{
    color: black;
    padding: 5px;
    border-radius: 6px;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    
    
}

div.col-4 a:hover{
    
    text-decoration: none;
    color:#a3935d;
    font-family:sans-serif;
/*    background-color: #120240;*/
    background-color: white;
}

@font-face {
    font-family: 'rattem_hullaxregular';
    src: url("NHaasGroteskTXPro-75Bd.ttf"); 
    font-weight: bold;
}

.background-watch{
    width: 100%;
    padding: 0;
    margin: 0;
}

footer {
    color: darkgray;
    font-family: sans-serif;
    text-align: center;
    background-color: #180b2e;
    
}

div.col-3 li{
    list-style-type: none;
    margin: 5px;
    display: block;
}

div.col-3 li:hover, i:hover {
   color:#a3935d;
}

/*#############CUSTOM FORMAT#######*/
div.images img{
    display: block;
    width: 370px;
    margin: auto;
    border-radius: 6px;
    
}

.bottomLogo{
    text-align: center;
    padding-bottom: 10px;
    
}

.bottomLogo img{
/*
  -webkit-box-shadow: 5px 3px 43px 40px #110E35; 
box-shadow: 5px 3px 43px 40px #110E35;
*/
    border: 4px outset gold;
    width: 80px;
    height: 70px;
    box-shadow: 3px 3px 150px 5px rgba(0,0,0,1);
       
}    

video{
    width: 100%;
}

ul li i{
    width: 25%;
    margin: 5px;
}
#fb{
    color: #3b5998;

}
#twitter{
    color: #00acee;
}
#youtube{
    color: #c4302b;
}



/*############ MOBILE VIEW ##########*/

@media screen and (max-width:680px){

    ul.topnav li:not(:nth-child(1)){
        display: none;
    }
    
    
    ul.topnav li.dropdownIcon{
        float: right;
        display:block;
        position: absolute;
        padding-top: 15px;
    }
    
     ul.topnav.responsive li.dropdownIcon{
        position: absolute;
        top: 0;
        right: 0;
    }
    
    ul.topnav li.topnav-right{
    float: left;
    margin-right: 20px
    }
    
    .col-4{
        width: 100%;
        margin: 0;
    }

    ul.topnav.responsive{
        /*so list items dont move around*/
        position: relative;
        background-color: #222129;
    }
    
    
    ul.topnav.responsive li{
       
        display: inline;
        float: none; /*cancels out previos float=left from ul.topnav li*/
    }
    ul.topnav.responsive li a{
        display: block;
        text-align: left;
        
    }   
    
    div.footerMenu{
        width: 50%;
        display:block;
      
    }
    
   ul.topnav.responsive li.topnav-right{
       display: block;
       
    }
    
    ul img{
        margin-left: 0px;
        margin-bottom: 10px;
    }
    
}

